<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/draft/AvsB">Mock Draft for A vs. B</a>
    <a href="/draft/AvsC">Mock Draft for A vs. C</a>
    <a href="/draft/BvsC">Mock Draft for B vs. C</a>
</body>
</html>