<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/body.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/btn.css">
    <link rel="stylesheet" href="/styles/index.css">
    <title>ALGS Mock Draft</title>
</head>
<body>
    <header class="header">
    <div class="website-title">
        ALGS MOCK DRAFT
    </div>
    <nav class="links-to-drafts">
        <a class="btn" href="/">Home</a>
        <a class="btn" href="/draft/AvsB">A vs. B</a>
        <a class="btn" href="/draft/AvsC">A vs. C</a>
        <a class="btn" href="/draft/BvsC">B vs. C</a>
    </nav>
    <nav class="login-btns">
        <% if (user){ %>
            <div style="display:inline-block;" class="btn">Signed in as <%=user.username%></div>
            <form style="display:inline-block;" class="logout-form" action="/account/logout" method="post">
                <button class="btn logout-btn" type="submit">Logout</button>
            </form>
        <% } else{ %>
        <a class="btn" href="/account/login">Login</a>
        <a class="btn" href="/account/signup">Signup</a>
        <% } %>
        <a class="btn" href="/saved-drafts">View Saved Drafts</a>
       
    </nav>
    </header>
    <ul> <span id="list-title">How to Draft</span>
        <li>
            Each draft day consists of team from 2 Groups info for each group can be found on the official <a style="color:inherit;" href="https://liquipedia.net/apexlegends/Apex_Legends_Global_Series/2024/Split_2/Pro_League/North_America">ALGS Webpage.</a>
        </li>
        <li>
            The draft pages for each draft day can be found through the respective links located in the middle of the header.
        </li>
        <li>
            Users can edit the draft order of the teams by selecting the edit button and then selecting 2 teams they want to swap by clicking on the team name at the bottom of the page.
        </li>
        <li>
            Users can also randomize the draft order by clicking the specified button (this will also reset all the picks in the draft if there have been any).
        </li>
        <li>
            The Poi Draft is a <span id="snake-draft">snake draft</span> meaning the team with the first pick, picks last for their second pick.
        </li>
        <li>
            In order to select a poi for the team that's drafting the user can click that poi's button.
        </li>
        <li>
            After a Mock Draft is complete a user can choose to save a draft which can be viewed later.
        </li>
        <li>
            In order to save a draft a user must be logged in.
        </li>
        <li>
            Once a user is signed in they can view their saved drafts via the button in the header and see all of their saved draft with the groups involved in each draft.
        </li>
        <li>
            In order to view a specific saved draft a user can click on that draft's button.
        </li>
    </ul>
</body>
</html>