<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/btn.css">
    <link rel="stylesheet" href="/styles/form.css">
</head>
<body>
    <form class="login-form" action="/account/login" method="POST">
        <h1 class="login-header">Login Information</h1>
        <div>
            <input id="username-bar" type="text" name="username"  placeholder="Username" value ="<%=username%>" required>
        </div>
        <div>
            <input id="password-bar"  type="password" name="password" placeholder="Password"  value ="<%=password%>" required>
        </div>
        <% if (message){ %>
            <div><%= message%></div>
            <% } %>
            <div class="login-btns">
                <a class="btn return-btn" href="/">Home</a>
                <input class="btn login-btn" type="submit" value="Login">
                <a class="btn signup-btn" href="/account/signup">Create Account</a>
            </div>
    </form>
</body>
</html>